.carousel {
    width: 100%;
    overflow: hidden;
}

.carouselLine {
    width: calc(100vw * 3);
    height: 100vh;
    transition-duration: 1000ms;
    transform: translate3d(0px, 0px, 0px);
}

/* Стили картинки и текста */
.item,
.firstItem {
    width: 100vw;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.itemContainer {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.itemContainer :not(:last-child) {
    margin-bottom: 5px;
}

.descriptionText {
    margin-right: 3px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .item,
    .firstItem {
        padding-top: 50px;
    }

    .itemContainer {
        max-width: 230px;
    }

    .itemContainer > .itemTitle {
        margin-top: 0;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .itemContainer {
        display: inline-block;
        width: 100%;
        max-width: 700px;
        text-align: left;
    }

    .itemTitle {
        margin: 0;
    }
}

@media (max-width: 1279px) {
    .item {
        display: none;
    }

    .firstItem {
        height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .item,
    .firstItem {
        padding-top: 150px;
    }
}

@media (min-width: 1280px) {
    .item,
    .firstItem {
        padding-top: 300px;
    }

    .carouselLine {
        position: relative;
        display: flex;
    }
}