.moviesList {
    width: 100%;
    padding-bottom: 50px;
    background-color: #000000;
}

.moviesList :last-child {
    margin-bottom: 0;
}

.movieCard {
    width: 100%;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
}

.moviePoster {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    text-align: left;
}

.movieTitle {
    display: inline-block;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
}

.infoPopup {
    position: absolute;

    width: 100%;
    max-width: 250px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;

    background-color: #ffffff;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.infoPopup :not(:last-child) {
    margin-bottom: 5px;
}

.infoText {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}

.descriptionContainer {
    padding-bottom: 5px;
    padding-left: 5px;
}

.descriptionText {
    margin-top: 0;
    margin-bottom: 5px;
    color: #ffffff;
}

.downthumbIcon {
    margin-right: 10px;
}

.infoIcon:hover ~ .infoPopup {
    opacity: 1;
}

@media (max-width: 519px) {
    .moviesList {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 520px) and (max-width: 767px) {
    .moviesList {
        padding-right: 135px;
        padding-left: 135px;
    }
}

@media (max-width: 767px) {
    .moviesList {
        text-align: center;
    }

    .movieCard {
        display: inline-block;
        max-width: 250px;
        max-height: 350px;
    }

    .moviePoster {
        height: 200px;
        background-size: cover;
    }

    .infoPopup {
        top: 17%;
        left: 0;
    }
}


@media (max-width: 1279px) {
    .moviesList {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    .movieCard {
        max-width: 500px;
        max-height: 700px;
    }

    .moviePoster {
        height: 350px;
    }

    .infoPopup {
        top: 10%;
        left: 50%;
    }

}

@media (min-width: 768px) and (max-width: 1019px) {
    .moviesList {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 1020px) and (max-width: 1279px) {
    .moviesList {
        padding-right: 150px;
        padding-left: 150px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .moviesList {
        text-align: center;
    }

    .movieCard {
        display: inline-block;
    }

    .moviePoster {
        background-size: cover;
    }
}

@media (min-width: 1280px) {
    .moviesList {
        padding-top: 110px;
    }

    .moviePoster {
        background-size: contain;
    }
}

@media (min-width: 1280px) and (max-width: 1519px) {
    .moviesList {
        padding-right: 260px;
        padding-left: 260px;
        text-align: center;
    }

    .movieCard {
        display: inline-block;
    }
}

@media (min-width: 1520px) {
    .moviesList {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-right: 250px;
        padding-left: 250px;
    }
}